body{
font-family: 'Baloo Bhaina 2', cursive;
background-size: cover;
	background-repeat: no-repeat;
background:url(https://cdn1.vectorstock.com/i/1000x1000/29/40/question-mark-background-vector-18432940.jpg);
}
.container{
	height: 390px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #000000;
	padding:20px;
	border: 1px solid #08038C;
	box-shadow: 0 0 8px 3px #ffffff;
	border-radius: 20px;
}
.title{
	padding-top: 20px;
	text-align: center;
	transition: transform .2s;
	font-size: 36px;
	text-transform: uppercase;
	color: #ffffff;

}
.title:hover{
	transform: scale(1.5);

}
.questions{
	padding: 20px;
	font-size: 22px;
	background-color: #08038C;
	border-radius: 20px;
	margin:	10px 0 10px 0;
	color: #f6f6f6;
}
.option  {
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background-color: #ffffff;
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
}     
.option:hover{
background-color: #08038C;
color: #f6f6f6;
}
.nextbtn{
	border: 1px solid ;
	outline: none;
	background-color: #ffffff;
	width: 100px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin:10px;

}
.result{
	text-align:center;
	font-size: 75px;
	position: absolute;
	color: #000000;
	height: 200px;
	margin-top: 300px;
	margin-left: 470px;
	width: 700px;
	}
.test:hover{
	background-color: #08038C;
	color: #f6f6f6;
}

.option input:checked .option{
	background-color: #08038C;
	color: #000000;
}